@import "./components/index.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}


html {
    width: 100%;
}

:root {
    --white-color: #ffffff;
    --black-color: #000000;
    --gray-color :#696969;
    --purple-color: #764CC2;
    --whitesmoke-color: #EDEDED;
    --lightest-gray-color: #A0A0A0;
    --lighter-gray-color: #9F9D9D;
    --darkest-gray-color: #262626FC;
    --darker-gray-color: #313131;
    --dark-whitesmoke-color: #D8D8D8;
    --dark-gray-color: #565656;
    --light-gray-color: #7A7A7A;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
  
h1, p {
    margin-block-start: 0;
    margin-block-end: 0; 
}
  
ul {
    list-style: none;
}
  
  
img {
    width: 100%;
    object-fit: cover;
}
  
button {
    font-family: inherit;
    cursor: pointer;
}


.btn-border-none-bg-trans{
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.App {
    font-family: 'Inter', sans-serif;
}