.profile-card {
    max-width: 35rem;
    height: 14rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../assets/images/profile-pic-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.5rem;
    border: none;
    box-shadow: 2px -1px 14px;
    filter: drop-shadow(-3px -7px 14px rgba(37, 36, 36, 0.11)) drop-shadow(2px -1px 14px rgba(0, 0, 0, 0.59));
    position: absolute;
    top: 68.5%;
    left: 8.5%;
}

.profile-card-pic-box {
    width: 70%;
    height: 100%;
    border-radius: 1.5rem 0 0 1.5rem;
    border-right: 1px solid #313131;
}

.profile-card-pic {
    border-radius: inherit;
    height: 100%;
    display: block;
}

.profile-card-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3rem 0 2rem;
    gap: 1.5rem;
}

.profile-card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.8rem;
}

.profile-sub-title {
    font-size: 14px;
    font-weight: 400;
    color: #696969;
}

.profile-bio {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4rem;
    color: #696969;
}

.profile-bio-title {
    font-weight: 700;
}

.profile-btn-box {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    background: #313131;
    border: 1px solid #000000;
    border-radius: 4px;
}

.profile-btn {
    width: 50%;
    font-size: 14px;
    font-weight: 400;
    color: #313131;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 4px 8px;
}

